@use "../abstracts/" as *;


.personal-history{

    &__table{
        display:flex;
        font-size:1.4rem;
        dl{
            flex:1;
            margin-top:1rem;
            border-left:0.1rem dotted #eee;
            padding-left:2rem;
            &:first-child{
                border:0;
                padding:0;
            }
        }
        dt{
            font-weight:500;
            font-size:1.8rem;
        }
        dd{
            margin-top:1rem;
            color:$secondary;
        }
    }
}